{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('../assets/styles/app.css') }}">
{% endblock %}
<header>
	<h1>
		{% block header %}Prestige Rent
		{% endblock %}
	</h1>
	<nav>
		<ul>
			<li>
				<a href="#">Louer ma voiture</a>
			</li>
			<li>
				<a href="{{ path('carsPage') }}">Accueil</a>
			</li>
			<li>
				<a href="#">Historique</a>
			</li>
			<li>
				<a href="#">Favoris</a>
			</li>
			<li>
				<a href="#">Messages</a>
			</li>
			<li>
				<a href="{{ path('profil_page') }}">Mon profil</a>
			</li>
			<li>
				<a href="{{ path('app_register') }}">S'inscrire</a>
			</li>
			<li>
				{% if app.user %}
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				{% endif %}
			</li>
		</ul>
	</nav>

</header>
<hr class="separator">
