{% include 'partials/_navbar.html.twig' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ car.title }} - Location de Voiture</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
    <style>
        /* Ajoutez des styles spécifiques si nécessaire */
        .slick-carousel img {
            width: 100%;
            height: 320px; /* Ajustez la hauteur comme vous le souhaitez */
            object-fit: cover; /* Pour s'assurer que les images gardent leurs proportions */
        }
        /* Style pour les flèches */
        .slick-prev,
        .slick-next {
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: 50%;
            width: 50px;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
            transform: translateY(-50%);
            border: none;
            outline: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .slick-prev:hover,
        .slick-next:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        .slick-prev {
            left: 0;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        .slick-next {
            right: 0;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        .slick-prev::before,
        .slick-next::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transition: transform 0.3s ease;
        }

        .slick-prev::before {
            transform: translate(-50%, -50%) rotate(-135deg);
        }

        .slick-next::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    </style>
</head>
<body>

<header class="bleuAlone text-white py-4">
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold">{{ car.title }}</h1>
    </div>
</header>

<div class="container mx-auto py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
            <div class="slick-carousel slider-for slider-nav">
                {% for image in car.getImages() %}
                <div>
                    <img src="{{ asset('images/' ~ image.getImagePath()) }}" alt="{{ car.title }}">
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <div class="bg-white shadow-md rounded-md p-6">
                <h2 class="text-2xl font-bold mb-4">Caractéristiques</h2>
                <ul>
                        <li>Catégorie : {{ car.category}}</li>   
                        <li>Kilométrage : {{ car.mileage }} km</li>
                        <li>Moteur : {{ car.engineType }} </li>
                        <li>Nombre de portes : {{ car.numberOfDoors}}</li>                        
                </ul>
            </div>
            <div class="bg-white shadow-md rounded-md p-6 mt-4">
                <h2 class="text-2xl font-bold mb-4">Description</h2>
                <p class="text-gray-700">{{ car.description }}</p>
            </div>
        </div>
    </div>
    <a href="{{ path('contact_page') }}" class="bleu text-white px-4 py-2 rounded-md mt-4 transition duration-300 block mx-auto max-w-xs text-center">Contacter</a>
    <div class="bg-gray-100 shadow-md rounded-md p-6 mt-8">
        <h2 class="text-2xl font-bold mb-4">Profil</h2>
        <div class="flex items-center space-x-4">
            <img src="{{ asset('../assets/images/avis/pdp4.jpg') }}" alt="Profile Picture" class="w-20 h-20 rounded-full">
            <div>
                <p class="text-lg font-semibold">Nom: John Doe</p>
                <p class="text-lg font-semibold">Prénom: Jane</p>
                <p class="text-lg font-semibold">Numéro de téléphone: +123456789</p>
                <p class="text-lg font-semibold">E-mail: example@example.com</p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
<script>
    $(document).ready(function(){
        $('.slick-carousel').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: false,
            dots: true,
            arrows: true,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });

        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav'
        });

        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            centerMode: true,
            focusOnSelect: true
        });
    });
</script>
</body>
</html>


{% endblock %}

{% include 'partials/_footer.html.twig' %}