{% include 'partials/_navbar.html.twig' %}


{% block content %}
	<div class="navbar">
		<a href="#" class="nav-item">
			<img src="{{ asset('../assets/images/berline_bar.png') }}" alt="Berline">
			<span class="image-alt">Berline</span>
		</a>

		<a href="#" class="nav-item">
			<img src="{{ asset('../assets/images/citadine_bar.png') }}" alt="Citadine">
			<span class="image-alt">Citadine</span>
		</a>

		<a href="#" class="nav-item">
			<img src="{{ asset('../assets/images/collection_bar.png') }}" alt="Collection">
			<span class="image-alt">Collection</span>
		</a>

		<a href="#" class="nav-item">
			<img src="{{ asset('../assets/images/coupe_bar.png') }}" alt="Coupe">
			<span class="image-alt">Coupe</span>
		</a>

		<a href="#" class="nav-item">
			<img src="{{ asset('../assets/images/limousine_bar.png') }}" alt="Limousine">
			<span class="image-alt">Limousine</span>
		</a>

		<a href="#" class="nav-item">
			<img src="{{ asset('../assets/images/sportive_bar.png') }}" alt="Sportive">
			<span class="image-alt">Sportive</span>
		</a>

		<a href="#" class="nav-item">
			<img src="{{ asset('../assets/images/tout_terrain_bar.png') }}" alt="Tout terrain">
			<span class="image-alt">Tout terrain</span>
		</a>
	</div>
	<hr
	class="separator">

	{# Affichage des images dynamiques #}
    <div class="photo-gallery">
        {% for car in cars %}
            <div class="photo-card">
                <a href="{{ path('carDetails', {'id': car.id}) }}" class="offre-link">
                    {# Si la voiture a des images, affichez la première image, sinon, affichez une image par défaut #}
                    {% if car.images|length > 0 %}
                        <img src="{{ asset('images/' ~ car.images[0].imagePath) }}" alt="{{ car.title }}">
                    {% else %}
                        <img src="{{ asset('../../assets/images/cars/') }}" alt="Image par défaut">
                    {% endif %}
                </a>
                <div class="photo-details">
                    <h3>{{ car.title }}</h3>
                    <p>{{ car.description }}</p>
                    <p>Prix: ${{ car.price }}</p>
                    <!-- Changer 'carDetails' avec le nom de votre route pour la page de détail -->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% include 'partials/_footer.html.twig' %}
