<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Titre par défaut
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('../assets/styles/app.css') }}">
		{% endblock %}
	</head>
	<body>

		<header>
			<h1>
				{% block header %}Prestige Rent
				{% endblock %}
			</h1>
			<nav>
				<ul>
					<li><a href="#">Louer ma voiture</a></li>
					<li><a href="#">Accueil</a></li>
					<li><a href="#">Historique</a></li>
					<li><a href="#">Favoris</a></li>
					<li><a href="#">Messages</a></li>
					<li><a href="#">Mon profil</a></li>
				</ul>
			</nav>
		</header>
		<hr class="separator">
		<main>
			{% block content %}
				<div class="navbar">
					<a href="#" class="nav-item">
						<img src="{{ asset('../assets/images/berline_bar.png') }}" alt="Berline">
						<span class="image-alt">Berline</span>
					</a>

					<a href="#" class="nav-item">
						<img src="{{ asset('../assets/images/citadine_bar.png') }}" alt="Citadine">
						<span class="image-alt">Citadine</span>
					</a>

					<a href="#" class="nav-item">
						<img src="{{ asset('../assets/images/collection_bar.png') }}" alt="Collection">
						<span class="image-alt">Collection</span>
					</a>

					<a href="#" class="nav-item">
						<img src="{{ asset('../assets/images/coupe_bar.png') }}" alt="Coupe">
						<span class="image-alt">Coupe</span>
					</a>

					<a href="#" class="nav-item">
						<img src="{{ asset('../assets/images/limousine_bar.png') }}" alt="Limousine">
						<span class="image-alt">Limousine</span>
					</a>

					<a href="#" class="nav-item">
						<img src="{{ asset('../assets/images/sportive_bar.png') }}" alt="Sportive">
						<span class="image-alt">Sportive</span>
					</a>

					<a href="#" class="nav-item">
						<img src="{{ asset('../assets/images/tout_terrain_bar.png') }}" alt="Tout terrain">
						<span class="image-alt">Tout terrain</span>
					</a>
				</div>
				<hr
				class="separator">

				{# Affichage des images dynamiques #}
				<div class="photo-gallery">
					{% for image in images %}
						<div class="photo-card">
							<img src="{{ asset('images/' ~ image.imagePath) }}" alt="{{ image.title }}">
							<div class="photo-details">
								<h3>{{ image.title }}</h3>
								<p>{{ image.description }}</p>
								<p>Prix: ${{ image.price }}</p>
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
		{% endblock %}
	</body>
</html></main><footer>
<p>Droits d'auteur &copy;
	{{ "now"|date("Y") }}</p></footer><script src="scripts.js"></script></body></html>
